@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body, html{
    background-color: #a4eec9;
    margin: 10px;
    height: 100%;
    color: #1A310D;
    font-size: 16px;
}

.container{
    background-color: #e9faf3;
    border-radius: 10px;
    padding: 30px 0 70px 0;
}

h1{
    padding-top: 10px;
    margin: 0;
    text-align: center;
    font-size: 70px;
    font-family: 'Gowun Batang',
    serif;
}

.howTo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;
}

.howTo > p{
    width: 70%;
    padding: 15px;
}

.generate{
    padding: 15px;
    background-color: #D88373;
    color: #e9faf3;
    font-size: 18px;
    font-family: 'Gowun Batang',
    serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.generate:hover{
    cursor: pointer;
    animation: pulse 1.2s infinite ;
}

@keyframes pulse {
    0%{
        background-color: #D88373;
    }
    50%{
        background-color: #db6a54;
    }
    100%{
        background-color: #da553a;
    }
}

.selectors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A310D;
    color: #e9faf3;
    font-size: 20px;
    margin: 0 30px;
    padding: 20px;
    border-radius: 10px;
}

label{
    font-family: 'Gowun Batang',
    serif;
}

#gender:hover,
#nationality:hover
{
    cursor: pointer;
}

#gender,
#nationality
{
    font-size: 16px;
}

span{
    font-weight: bold;
    font-size: 14px;
}

.resultsFont{
    font-size: 14px;
}

.loadMore{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
    margin-top: 25px;
}

.loadMore > p {
    width: 70%;
    padding: 0 15px;
}

.loadMore > div{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 10px;
}

input:hover{
    cursor: pointer;
}

.singleBox{
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    display: block;
    text-align: center;
}

.singleBox>div {
    border: 1px solid #1A310D;
    padding: 10px;
    overflow: hidden;
}

.singleBox img {
    width: 30%;
    border-radius: 10px;
}

.box {
    padding: 10px;
    display: inline-block;
    width: 33.3%;
    text-align: center;
    margin-bottom: 10px;
}

.box>div {
    border: 1px solid #1A310D;
    padding: 10px;
    overflow: hidden;
    min-height: 40px;
}

.box > div:nth-child(4) {
    min-height: 70px;
}

.box img {
    width: 50%;
    border-radius: 10px;
}

.sources{
    text-align: right;
    font-size: 14px;
    opacity: 60%;
    padding: 3px 0 10px 0;
}

@media (max-width: 768px) and (min-width: 550px){
    .box{
        width: 50%;
    }
}

@media (max-width: 550px) and (min-width: 300px) {
    .howTo{
        flex-direction: column;
    }
    .howTo > p{
        width: 100%;
        margin-bottom: 0;
    }
    .generate{
        margin-bottom: 15px;
    }
    .selectors{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .loadMore{
        margin-top: 0;
        flex-direction: column;
    }
    .loadMore > p {
        width: 100%;
    }
    .box {
        width: 100%;
    }
}

